@{
    ViewBag.Title = "联系我们";
}
<h2>@ViewBag.Title.</h2>

<address>
    微软中国<br />
    望京街8号<br />
</address>

<address>
    有任何问题都可以联系我：  <a href="mailto:zeshe@microsoft.com">zeshe@microsoft.com</a><br />

</address>